<div class="activities__container">
  <st-card
    *ngFor="let activity of (activities$ | async); trackBy:trackByFn"
    [activity]="activity"
    (deleted)="deleteActivity(activity.id)"
    (updated)="updateActivity($event)"
  >

  </st-card>
</div>

<eco-fab-speed-dial class="actions-button" color="primary">
  <eco-fab-speed-dial-trigger>
      <button mat-fab ><mat-icon>menu</mat-icon></button>
  </eco-fab-speed-dial-trigger>

  <eco-fab-speed-dial-actions>
      <button mat-mini-fab (click)="openAddActivityDialog()"><mat-icon>add</mat-icon></button>
  </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>
